<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--<property name="maxUploadSize" value="20848820" />-->
    <!--</bean>-->
    <!-- telling container to take care of annotations stuff -->
    <context:annotation-config />

    <!-- declaring base package -->
    <context:component-scan base-package="com.melkov.controllers" />

    <!-- define multi-part bean to define handle file upload -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
        <property name="maxUploadSize" value="100000000"/>
    </bean>



    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages" />
    </bean>

    <!-- adding view resolver to show jsp's on browser -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>


    <!-- declare beans -->
    <bean id="carDao" class="com.melkov.dao.impl.CarDaoImpl" />
    <bean id="carService" class="com.melkov.services.impl.CarServiceImpl" />
    <bean id="markListDao" class="com.melkov.dao.impl.MarkListDaoImpl" />
    <bean id="carMarksService" class="com.melkov.services.impl.CarMarksServiceImpl"/>
    <bean id="carModelDao" class="com.melkov.dao.impl.CarModelDaoImpl"/>
    <bean id="carModelsService" class="com.melkov.services.impl.CarModelsServiceImpl"/>
    <!--<bean id="userDao" class="com.melkov.dao.impl.UserDaoImpl"/>-->
    <!--<bean id="userService" class="com.melkov.services.impl.UserServiceImpl"/>-->
    <bean id="cityDao" class="com.melkov.dao.impl.CityDaoImpl"/>
    <bean id="cityService" class="com.melkov.services.impl.CityServiceImpl"/>
    <bean id="regionDao" class="com.melkov.dao.impl.RegionDaoImpl"/>
    <bean id="regionService" class="com.melkov.services.impl.RegionServiceImpl"/>
    <bean id="carImageDao" class="com.melkov.dao.impl.CarImageDaoImpl"/>
    <bean id="carImageService" class="com.melkov.services.impl.CarImageServiceImpl"/>
    <bean id="imagePathDao" class="com.melkov.dao.impl.ImagePathDaoImpl"/>
    <bean id="imagePathService" class="com.melkov.services.impl.ImagePathServiceImpl"/>

    <!-- declare datasource bean -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/car?autoReconnect=true&amp;useSSL=false" />
        <property name="username" value="root" />
        <property name="password" value="P@ssw0rd" />
    </bean>

    <bean id="dataSourceCar"
            class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/cars?autoReconnect=true&amp;useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="P@ssw0rd"/>
    </bean>

    <aop:config proxy-target-class="true"/>
    <mvc:resources mapping="/resources/**" location="/resources/" />

    <mvc:annotation-driven />

</beans>